/* $TITLE **********************************************************************

	Style rules for Pairing Is Caring
	Jump to individual sections by searching for "$SECTION TITLE"

*******************************************************************************/

/* $CONTENTS *******************************************************************

	* Imports
	* Mixins
	* Fonts
	* Variables
	* Grid
	* Base
	* Layout
	* Typography
	* Anchors
	* Form Elements
	* Tabs

*******************************************************************************/

/* $IMPORTS *******************************************************************/

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities/general/clearfix";
@import "susy";

/* $MIXINS ********************************************************************/

@include sticky-footer(25px, ".page", ".page-footer", "footer");

/* $FONTS *********************************************************************/

@include font-face("entypo", font-files("entypo.woff", "entypo.ttf", "entypo.svg"), "entypo.eot");
@include font-face("entypo-social", font-files("entypo-social.ttf", "entypo-social.woff", "entypo-social.svg"), "entypo-social.eot");
// Varela Round via Google Fonts

/* $VARIABLES *****************************************************************/

$base: 						#e54739;
$base-shadow:			#9c2217;
$primary: 				#ffffff;
$foreground: 			#333333;
$contrast:				#e9f193;
$border:					#de3121;
$accent-light:		#02a9b9;
$accent-dark:			#007784;
$accent-darkest:	#00454c;
$text-shadow:			#555555;
$input-base:			#efefef;

/* $GRID **********************************************************************/

$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

/* $BASE **********************************************************************/

body {
	background-color: $base;
	color: $foreground;
	font-family: "Varela Round", sans-serif;
	line-height: 140%;
}

header, section, footer {
	@include container;
	text-align: center;
}

/* $LAYOUT ********************************************************************/

header {
	background-image: url("heart.png");
	background-repeat: no-repeat;
	background-position: center;
	min-height: 270px;
	margin-top: 6em;
}

nav {
	margin-top: 7em;
}

footer {
	border-top: 2px solid $border;
	padding-bottom: 3em;
}

.panel {
	@include border-radius(5px);
	@include box-shadow(3px 3px 1px $base-shadow);
	background-color: $primary;
	padding: 1em 2em;
	text-align: left;
	margin-bottom: 1em;
	clear: both;
	overflow: hidden;
	& a {
		font-weight: bold;
	}

  a {
    background-color: #e9f193;
    border-bottom: 1px dashed $accent-light;
    color: $accent-dark;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $accent-light;
      color: $foreground;
    }
  }
}

.alert {
	@include container;
	color: #fff;
	margin-bottom: 0;
	margin-top: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

@mixin in-the-main-section {
  h2 {
    @include text-shadow(1px 1px 1px $base-shadow);
    color: $contrast;
    font-size: 2em;
    margin-bottom: 20px;
  }
}

#availabilities {
  @media screen and (min-width: 720px) {
    @include span-columns(8, 12);
  }

  @media screen and (max-width: 719px) {
    @include span-columns(12, 12);
  }

  @include in-the-main-section
}

@mixin in-the-side-bar {
  clear: right;
  margin-bottom: 15px;

  h2 {
    @include text-shadow(1px 1px 1px $base-shadow);
    color: $contrast;
    padding: 0 0 20px 0;
  }

  .panel {
    font-size: .75em;
    background-color: lighten($base, 10%);
    @include box-shadow(0 0 0);
    @include box-shadow(3px 3px 1px lighten($base-shadow, 10%));
    text-align: center;

    p {
      margin: 0;
    }
  }
}

#appointments {
  @media screen and (min-width: 720px) {
    @include span-columns(4 omega, 12);
    @include in-the-side-bar;
  }

  @media screen and (max-width: 719px) {
    @include span-columns(12, 12);
    @include in-the-main-section;
  }

  .appointment {
    border-bottom: 1px dashed $base-shadow;
    padding: 24px 0;

    &:first-child {
      padding-top: 8px;
    }

    &:last-child {
      padding-bottom: 8px;
      border: none;
    }
  }

}

#featured_mentors {
  @media screen and (min-width: 720px) {
    @include span-columns(4 omega, 12);
    @include in-the-side-bar;
  }

  @media screen and (max-width: 719px) {
    @include span-columns(12, 12);
    @include in-the-main-section;
  }

  .panel {
    text-align: left;

    .icon {
      margin-right: .5EM;
    }
  }
}

/* $TYPOGRAPHY ****************************************************************/

h1 {
	@include text-shadow(3px 3px 1px $base-shadow);
	color: #fff;
	font-size: 4em;
	text-transform: uppercase;
	span {
		font-size: 60%;
		vertical-align: middle;
	}
}

p {
	margin: 2em 0;
}

/* $ANCHORS *******************************************************************/

a {
	color: $primary;
	font-weight: bold;
	text-decoration: none;
}

a.link {
	@include border-radius(5px);
	@include box-shadow(3px 3px 1px $accent-dark);
	@include text-shadow(1px 1px 1px $text-shadow);
	background-color: $accent-light;
	border-bottom: none;
	color: #fff;
	font-size: 1.2em;
	margin: 0 2em;
	padding: 1em;
	text-transform: uppercase;
	&:hover {
		@include box-shadow(3px 3px 1px $accent-darkest);
		@include text-shadow(1px 1px 1px #000000);
		@include transition-property(all);
		@include transition-duration(0.6s);
		background-color: $accent-dark;
	}
}

/* $FORM ELEMENTS ************************************************************/

input {
	@include border-radius(5px);
	background-color: $input-base;
	border: 1px solid #ccc;
	font-size: 1em;
	padding: 0.5em;
	&[type=submit]{
		@include box-shadow(3px 3px 1px $accent-dark);
		@include text-shadow(1px 1px 1px $text-shadow);
		background-color: $accent-light;
		border: none;
		color: #fff;
		padding: 0.5em 1em;
		text-align: right;
	}
}

textarea {
	@include border-radius(5px);
	width: 287px;
	height: 80px;
	background-color: $input-base;
	border: 1px solid #ccc;
	font-size: 1em;
	padding: 0.5em;
	&[type=submit]{
		@include box-shadow(3px 3px 1px $accent-dark);
		@include text-shadow(1px 1px 1px $text-shadow);
		background-color: $accent-light;
		border: none;
		color: #fff;
		padding: 0.5em 1em;
		text-align: right;
	}
}

select {
	font-size: 1em;
}

label {
	display: inline-block;
	font-size: 0.8em;
	line-height: 140%;
	text-transform: uppercase;
	width: 180px;
}

.field {
	border-top: 1px dashed #ccc;
	padding-top: 1em;
	margin-bottom: 2em;
}

.addon {
  float: right;
  margin-right: 0.2em;
  font-size: 1.5em;
  font-weight: bold;
}

.hidden {
	display: none;
}

/* $ICONS ********************************************************************/

.icon {
	font-weight: normal;
  &:before {
  	content: attr(data-icon);
    font-family: "entypo";
    font-size: 3em;
    speak: none;
    vertical-align: middle;
  }
 }

 /* $PROFILE *****************************************************************/

.panel img {
 border-radius: 5px;
 margin-right: 1em;
}

.profile h4 {
	padding-top: 10px;
}

.profile blockquote {
	background: #E6E6E6;
	margin-left: 10px;
	border-radius: 4px;
	padding: 10px;
}

.profile > ol > li:first-child{
	padding: 0;
	height: 30px;
}
.profile > ol > li:first-child > a{
	float: right;
	background: none;
}

.profile_content_wrap {
	width: 460px;
}

.profile_content_wrap img{
	margin: 0 0 0 16px;
	position: relative;
	top:10px;
	left: 20px;
	width:40px;
}

.profile_content_wrap p:first-child {
	padding-top: 0;
	margin-top: 0;
	text-align: right;
}

.profile_content_wrap blockquote {
	margin: 1em 0 2em 0;
}

img.profpic{
	float:left;
	margin: 10px 0 0 0;
}

.profile{
	min-height: 140px;
}

.profile .content{
	width: 75%;
	padding:0px 10px;
	margin: 0 10px;
	display: inline-block;
}

/* $TABS ********************************************************************/

.tabs {
	margin-left: 20px;
	height: 38px;
	overflow: hidden;
}

.tab {
	margin-right: 3px;
	padding: 0.5em;
	float: left;
	background-color: $input-base;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	@include box-shadow(3px 3px 1px $base-shadow);
}

.tab:hover{
	cursor: pointer;
}

.tab.active {
	background-color: $primary;
}

 /* $CALENDAR ***************************************************************/
#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.daily_appointments {
  font-weight: bold;
}
