<!DOCTYPE html>
<html>
<head>
  <title>Pairing is Caring</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<a href="/"><h1>Pairing <span>Is</span> Caring</h1></a>
	  <nav>
      <%= link_to "Find a mentor", availabilities_path, :class => "link", :title => "s4m" %>
      <%= link_to "Offer to mentor", new_availability_path, :class => "link", :title => "m4s" %>
	  </nav>
	</header>

	<p class="alert"><%= flash[:notice] %></p>

	<section class="page">
		<%= yield %>
		<div class="page-footer"></div>
	</section>

	<footer>
		<p>
		  Made by
		  <%= link_to "Erik", "http://allareri.github.io/" %>,
		  <%= link_to "Dave", "http://redsquirrel.com/dave/" %>, and
		  <a href="https://github.com/Devbootcamp/mentor-pairing/contributors">the Dev Bootcamp mentoring community</a>.
		</p>
	</footer>

</body>
</html>
